@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
}
/* Bg */

/* position: absolute;
width: 173px;
height: 60px;
left: 165px;
top: 12px;

background: #FFFFFF; */

html, body {
  overflow-x: hidden;
}

.inputDate {
  border: 1px solid #5F8D4E,
}